* {
  padding: 0;
}

body {
  margin: 0;
  background-color: rgb(249, 37, 69);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

.question_container {
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;

  background-color: white;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 1.5rem;
  border: 5px solid black;

  padding: 10px;
}

.hats {
  margin-top: 5vh;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  button {
    width: 28%;
    background: none;
    border: none;
    cursor: pointer;
    img {
      width: 90%;
      border: none;
    }
  }
  button:hover {
    transition-duration: 0.3s;
    border: 10px solid rgb(131, 244, 248);
  }
  button:focus {
    border: 10px solid rgb(131, 244, 248);
  }
}

#button_div {
  display: flex;
  justify-content: center;

  button {
    background-color: rgb(131, 244, 248);
    border: solid 3px black;
    letter-spacing: 1px;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }

  button:hover {
    background-color: black;
    color: rgb(131, 244, 248);
  }
}
