@font-face {
  font-family: 'nighty_demoregular';
  src: url('../../fonts/nightydemo-nrjop-webfont.woff') format('woff1'),
       url('../../fonts/nightydemo-nrjop-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

body{
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, #e0f540 , #eda87f);
}

header{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  font-family: 'nighty_demoregular';
  font-size: 7rem;
}

h3{
  font-family: 'Lato', sans-serif;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  flex-direction: auto;
  user-select:none;
  flex-wrap: wrap;
}
.box div {
  width: 20vw;
  background: #fff;
  height: 500px;
  margin: 0 20px;
  cursor: pointer;
  pointer-events: all;
  box-shadow: 5px 5px 0px 0 #fca19e;
  overflow: hidden;
  border-radius: 10px;
  /* object-fit:cover; */
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.box div img {
  width: 100%;
  height: auto;
  transition: transform 1s;
}

.box div:hover {
  filter: grayscale(0);
}
.box div:hover img {
  transform: scale(1.2);
}
.box:hover div:not(:hover) {
  filter: grayscale(1) blur(1px);
}
/* @media screen and (max-width: 1080px) {
  .box {
    flex-direction: column;
  }
  .box div {
    margin: 20px 0;
    height: 70vw;
    width: 70vw;
  }
} */