main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 98vh;
  margin: auto;
  background-color: red;
}

.logo {
  position: absolute;
  margin: auto;
  margin-top: -580px;
  //transform: rotate(-5deg);
  height: 10vh;
  width: 15vw;
  background-image: url("./twinder.png");
  background-size: cover;
}

.questionContainer {
  height: 80%;
  width: 60%;
  border: 5px solid;
  background-color: white;
  text-align: center;
  padding: 20px;
  video {
    width: 70%;
  }
}

audio {
  visibility: hidden;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  margin-top: 3em;
  margin-bottom: 2em;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  //border-radius: 20px;
  width: 60px;
  height: 60px;
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
#show-values {
  font-size: 1.5em;
  font-family: "Lato", sans-serif;
}

h2 {
  font-family: "Archivo", sans-serif;
  font-size: 2em;
}

button {
  background-color: red;
  border: solid 3px black;
  letter-spacing: 1px;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-top: 2em;
}

button:hover {
  background-color: black;
  color: red;
}
